/**
 * App Colors
 * ==========
 *
 * Color names comes from : http://chir.ag/projects/name-that-color/
 */

$alto: #E0E0E0;
$black: #000;
$gallery: #EEE;
$red: #F00;
$silver: #CCC;
$tundora: #4D4D4D;
$white: #FFF;
