@import 'app-colors';


.App {
  height: 100%;

  .header {
    padding: 10px;
    background-color: $gallery;
    border-bottom: 1px solid $alto;
    h1 {
      margin: 0;
      font-size: 22px;
      color: $tundora;
    }
  }

  .body {
    height: calc( 100% - 50px );
    .mat-sidenav-container {
      height: 100%;
      .mat-sidenav {
        .example-entry {
          cursor: pointer;
          padding: 10px;
          &:hover {
            background-color: $gallery;
          }
        }
      }
    }
  }

}
